# Віртуальне середовище
.venv/
venv/
env/

# Системні файли PyCharm
.idea/

# Кеш Python
__pycache__/
*.pyc

# Файл з секретними ключами
.env
*.env

# Дебаг файли
zoom_quota_debug.txt

# Тимчасові файли завантаження
*.part