# Віртуальне середовище
.venv/
venv/
env/

# Системні файли PyCharm
.idea/

# Кеш Python
__pycache__/
*.pyc

# Файл з секретними ключами
.env
*.env

# Дебаг файли
zoom_quota_debug.txt

# Тимчасові файли завантаження
*.part

# Конфіг з локальними налаштуваннями (шлях збереження тощо)
config.json

# Лог останнього завантаження
last_report.log